body{
    /*margin: 0;*/
    /*padding: 0;*/
    height: 100vh;
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    overflow-x: hidden;
    background: whitesmoke ;
}

.emr-image {
    background-image: url(../images/emr-background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.section-white-container {
    width: 100%;
    border-radius: 5px;
    background: #ffffff;
    padding: 30px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 280px; /* Set the width of the sidebar */
    /*width: 100%;*/
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 88px; /* Stay at the top, under header*/
    left: 0;
    background-color: #0c5460 !important; /* White */
    opacity: 85%;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 40px;*/
}

/* The navigation menu links */
.sidenav a {
    padding: 28px 15px 7px 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f0ad4e;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.center-text{
    text-align: center;
}

.btn {
    color: #0c5460;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.forgot-password{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

a:hover{
    color: orange;
}

.underline{
    text-decoration: underline;
}

.outline-none {
    outline: none;
}