<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div class="row h-100" style="background-color: #0c5460">
    <div class="col-4 d-flex align-items-center" style="background-color: #0c5460">
        <div class="container ">
            <h1 class="center-text" style="color: whitesmoke; font-weight: bold;">Electronic Medical Records</h1>
            <br>
            <h2 class="center-text" style="color: whitesmoke;">Sign Up For Medical Practitioner</h2>

            <div class="d-flex justify-content-center my-5">
                <form class="w-75"  name="login" th:action="@{/register}" th:object="${physician}" method="post">
                    <fieldset>
<!--                        <div th:if="${param.logout}" class="alert alert-success">You have been logged out. </div>-->
                        <div class="form-group mt-4">
                            <input type="text" class="form-control w-100"  id="username" th:field="${physician.email}" name="email"
                                   placeholder="Email">
                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>

                        </div>
                        <div class="form-group mt-4">
                            <input type="password" class="form-control w-100" id="password" th:field="${physician.password}" name="password"
                                   placeholder="Password">
                            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="password" class="form-control w-100" id="confirmPassword" th:field="${physician.confirmPassword}" name="confirmPassword"
                                   placeholder="Confirm Password">
                            <span class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Confirm Password Error</span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="text" class="form-control w-100" id="firstName" th:field="${physician.firstName}" name="firstName"
                                   placeholder="First Name">
                            <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="text" class="form-control w-100" id="lastName"  th:field="${physician.lastName}"name="lastName"
                                   placeholder="Last Name">
                            <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="text" class="form-control w-100" id="upin" th:field="${physician.uniquePhysicianIdentificationNumber}" name="upin"
                                   placeholder="UPIN">
                            <span class="text-danger" th:if="${#fields.hasErrors('uniquePhysicianIdentificationNumber')}" th:errors="*{uniquePhysicianIdentificationNumber}">UPIN Error</span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="text" class="form-control w-100" id="ssn" th:field="${physician.ssn}" name="ssn"
                                   placeholder="SSN">
                            <span class="text-danger" th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}">SSN Error</span>
                        </div>
                        <div class="form-group mt-4">
                            <input type="text" class="form-control w-100" id="position" th:field="${physician.position}" name="position"
                                   placeholder="Position">
                            <span class="text-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}">Position Error</span>
                        </div>
<!--                        <div class="form-group mt-4">-->
<!--                            <input type="text" class="form-control w-100" id="department" th:field="${physician.department}" name="department"-->
<!--                                   placeholder="Department">-->
<!--                            <span class="text-danger" th:if="${#fields.hasErrors('department')}" th:errors="*{department}">Department Error</span>-->
<!--                        </div>-->
                        <select class="form-control" id="dropDownList" th:field="${physician.department}">
                            <option value="0">Select Department</option>
                            <option th:each="d : ${departments}" th:value="${d}" th:text="${d}"></option>
                        </select>
<!--                        <div class="form-group">-->
<!--                            <label for="dips">Select dips</label>-->
<!--                            <select class="form-control selectpicker" th:field="*{physician.department}" id="dips" multiple>-->

<!--                                <option th:each="dip : ${T(com.frontbackend.thymeleaf.bootstrap.model.Dip).values()}"-->
<!--                                        th:value="${dip}"-->
<!--                                        th:text="${dip}">dip-->
<!--                                </option>-->

<!--                            </select>-->
<!--                        </div>-->
                        <div class="form-actions mt-5 d-flex justify-content-center" >
                            <button type="submit" class="btn btn-warning w-50">Sign Up</button>
                        </div>
                        <div class="mt-5 d-flex justify-content-center">
                            <h5 style="color: white">Already have an account?  </h5>
                            <a th:href="@{/login}" class="forgot-password underline px-2" style="font-size: 16px" href="">Go to sign in</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 p-0">
        <div class="emr-image"></div>
    </div>
</div>
</body>
</html>
